<!-- <button type="button" class="btn btn-success">Success</button><div class="container fluid">-->
        

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12">
            <h1 style="font-family:Courier New; color:goldenrod;background-color:darkslategray;text-align:center">User Registration</h1>
        </div>
    </div>

   

 <div class="row" *ngIf="!isSubmitted || toAmend" > 
        <!--<div class="row" *ngIf="!isSubmitted" > -->
                <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12 border border-dark rounded">
                    <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-group">
                            <div>
                                <label for="email">Email Address </label>
                            </div>
                            
                            <input id="email" #email="ngModel" name="email" type="text" [(ngModel)]="model.email" placeholder="email@domain.com" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
                            
                            <!-- -->
                            <div *ngIf="email.errors && (email.touched || isSubmitted)">
                                <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
                                    Email is required.
                                </div>
        
                                <div [hidden]="!email.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">
                                    Email is invalid.
                                    </span>
                                </div>
                            </div>
        
                        </div>
        
                        <div class="form-group">
                            <div>
                                    <label for="password">Password</label>
                            </div>
                            <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="model.password" placeholder="please enter your password" class="form-control" pattern="^(?=.*\d)(?=.*[!@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required/>           
                            <!-- My old simplified password
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"  
                            -->
                            <div *ngIf="password.errors && (password.touched || isSubmitted)">
                                <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-danger">
                                    Password is required.
                                </div>
                                <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger">
                                    
                                            <!--<span class="help-block alert">Password must be at least 8 characters long and contains both upper and lower case.  --> 
                                            <span class="help-block alert">Password must include special characters (@#$ only), must be alphanumeric and contains both uppercase & lowercase.
                                    </span>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="confirmpassword">Confirm Password</label>
                            </div>
                            <input id="confirmpassword" #confirmpassword="ngModel" name="confirmpassword" [(ngModel)]="model.confirmPassword" type="password" placeholder="retype your password"  class="form-control" required [required]="model.password"/>
                             
                            <div *ngIf="confirmpassword.errors && (confirmpassword.touched || isSubmitted)">
                                    <div [hidden]="!confirmpassword.errors.required && confirmpassword.dirty" class="help-block alert alert-danger">
                                        Confirm Password is required.
                                    </div>
                            </div>
                            <div *ngIf="confirmpassword.dirty" [hidden]="!(model.confirmPassword != model.password)" class="help-block alert alert-danger">
                                    <span class="help-block alert alert-danger">
                                        Password do not match.
                                    </span>
        
                            </div>      
        
                        </div>
        
                        <div class="form-group">
                            <div>
                                <label for="firstName">First Name </label>
                            </div>
                            <input id="firstName" #firstName="ngModel" name="firstName" type="text" [(ngModel)]="model.firstName" placeholder="Emily" class="form-control" required/>
                            <div *ngIf="firstName.errors && (firstName.touched || isSubmitted)">
                                    <div [hidden]="!firstName.errors.required && firstName.dirty" class="help-block alert alert-danger">
                                        First Name is required.
                                    </div>
                            </div> 
                        </div>
        
                        <div class="form-group">
                            <div>
                                <label for="lastName">Last Name </label>
                            </div>
                            <input id="lastName" #lastName="ngModel" name="lastName" type="text" [(ngModel)]="model.lastName" placeholder="Tan" class="form-control" required/>
                            <div *ngIf="lastName.errors && (lastName.touched || isSubmitted)">
                                    <div [hidden]="!lastName.errors.required && lastName.dirty" class="help-block alert alert-danger">
                                        Last Name is required.
                                    </div>
                            </div> 
                        </div>
        
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <br/>
                            <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[0]}}" /> Male
                            <br/>
                            <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[1]}}" /> Female
                          
                            <!--
                            <div *ngIf="gender[0].errors && gender[1].errors">
                                <div [hidden]="!gender[0].errors.required && !gender[1].errors.required" class="help-block alert alert-danger">
                                    Gender is required.
                                </div>
                            </div>
                            -->
                        
                        </div>


                        
                        <div class="form-group">
                            <label for="dob">Date of Birth</label>
                            <input id="dob" name="dob" type="date" #dateOfBirth="ngModel" class="form-control" [(ngModel)]="model.dateOfBirth"  value="{{ model.dateOfBirth}}" required/>
                            <div (mouseup)=checkAge()></div>

                            <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || isSubmitted)">
                                <div [hidden]="!dateOfBirth.errors.required && dateOfBirth.dirty" class="help-block alert alert-danger">
                                  Date of Birth is required.
                                </div>                          
                            </div>  
                        </div>
        
                        <div class="form-group">
                                <label for="address">Address</label>
                                <textarea rows="4" cols="50" id="address" name="address" #address="ngModel" class="form-control" [(ngModel)]="model.address" required>
                                </textarea>
        
                                <div *ngIf="address.errors && (address.touched || isSubmitted)">
                                        <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger">
                                            Address is required.
                                        </div>
                                </div>  
                        </div>
        
                        
        
                        <div class="form-group">
                            <label for="nationality">Nationality</label>
                            <select class="form-control" #nationality="ngModel" id="nationality" [(ngModel)]="model.nationality" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)" required>
                                <option *ngFor="let nationality of nationalities" [ngValue]="nationality.value">{{nationality.desc}}</option>
                            </select>
                            
                            <!--
                            <p *ngIf="nationalities.length > 3">{{ ' There are more than 3 countries in the list !' | uppercase }}</p>
                            -->

                            <div *ngIf="nationality.errors && (nationality.touched || isSubmitted)">
                                    <div [hidden]="!nationality.errors.required && nationality.dirty" class="help-block alert alert-danger">
                                        Nationality is required.
                                    </div>
                            </div>
        
                        </div>
        

        
                        <div class="form-group">
                            <label for="contactNumber">Contact Number</label>
                            <input id="contactNumber"  #contactNumber="ngModel" name="contactNumber" type="text" class="form-control"  [(ngModel)]="model.contactNumber"  pattern="^[(|+|-|\s|\d][^!@#$%^&*]*$" required/>
                            
                            <div *ngIf="contactNumber.errors && (contactNumber.touched || isSubmitted)">
                                    <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="help-block alert alert-danger">
                                        Contact Number is required.
                                    </div>
                                    <div [hidden]="!contactNumber.errors.pattern" class="help-block alert alert-danger">
                                        <span class="help-block alert">Contact No. is invalid
                                        </span>
                                    </div>

                                    <!--
                                    <div [hidden]="!contactNumber.errors.minlength" class="help-block alert alert-danger">
                                        <span class="help-block alert">Contact No. must be at least 8 digit long.
                                        </span>
                                    </div>
                                     -->


                            </div>
        
                        </div>
        
        
                        
                        <div class="form-group">
                            <hr/>
                            <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger" (click)="regForm.reset()">Reset</button>
                        </div>
                      
                        
               
        
        
        
                    </form>
        
                </div>
        
              
        
            <!--<app-list-users [users] = "users"></app-list-users>-->
        
            </div>
            

            <div class="row" *ngIf="(isSubmitted && !genderFieldStatus) ||(isSubmitted && !allEntriesValid)">
                <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12 border border-secondary rounded"> 

                    <div class="row" *ngIf="isSubmitted && !genderFieldStatus">
                            <div class="row">
                                    <p class="ml-3"><em>You need to complete the Gender Field.</em></p>   <!--Why cant use center tag?-->
                             </div>
                            
                    </div>



                    <div class="row" *ngIf="isSubmitted && !allEntriesValid">
                              
                                    <div class="row">
                                           <p class="ml-3"><em>You have to be above 18 years old.</em></p>   <!--Why cant use center tag?-->
                                    </div>
        
                                    
                            
                    </div>

                    <div class="row">
                            <p>
                        <button (mouseup)="amendForm()" type="button" class="btn ml-3">Amend</button>
                                                           </p>
                        </div>
                </div>
            </div>



            <!--  ************************************
            <div class="row" *ngIf="isSubmitted && !genderFieldStatus">
                    <div class="row">
                            <p class="ml-3"><em>You need to complete the Gender Field.</em></p>   
                     </div>
                    
            </div>
            
            
            <div class="row" *ngIf="isSubmitted && !allEntriesValid">
                    <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12 border border-secondary rounded">   
                            <div class="row">
                                   <p class="ml-3"><em>You have to be above 18 years old.</em></p>   
                            </div>

                            <div class="row">
                                    <p>
                                       
                                        <button (mouseup)="amendForm()" type="button" class="btn ml-3">Amend</button>
                                       
                                        
                                    </p>
                                </div>
                        </div>
            </div>

           ***************************************************************-->



        
        
            <!--<div class="row" *ngIf="isSubmitted && !toAmend"> -->
            <div class="row" *ngIf="(isSubmitted && allEntriesValid) && genderFieldStatus">
                <!--<div class="col-12 border border-dark rounded">-->
                <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12 border border-secondary rounded">   
                    <div class="row">
                           <p class="ml-3"><em>Thank you for your submission.</em></p>   <!--Why cant use center tag?-->
                            
                    </div>
        
                    <div class="row">
                        <div class="col-3 my-font">
                            <p>Email Address:</p>
                        </div>
                        <div class="col-9">
                            <p>{{model.email}}</p>
                        </div> 
                    </div>
        
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>First Name:</p>
                            </div>
                            <div class="col-9">
                                <p>{{model.firstName}}</p>
                            </div> 
                    </div>
        
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>Last Name:</p>
                            </div>
                            <div class="col-9">
                                <p>{{model.lastName}}</p>
                            </div> 
                    </div>
        
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>Gender:</p>
                            </div>
                            <div class="col-9">
                                <p>{{model.gender}}</p>
                            </div> 
                    </div>
             
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>Date of Birth:</p>
                            </div>
                            <div class="col-9">
                                <p>{{model.dateOfBirth}}</p>
                            </div> 
                    </div>
                  
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>Age:</p>
                            </div>
                            <div class="col-9">
                                <p>{{model.age}}</p>
                            </div> 
                    </div>


        
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>Nationality:</p>
                            </div>
                            <div class="col-9">
                                <p>{{model.nationality}}</p>
                            </div> 
                    </div>
        
             
                    <div class="row">
                            <div class="col-3 my-font">
                                <p>Contact Number:</p>
                            </div>
                            <div class="col-9">
                                <p> {{model.contactNumber}}</p>
                            </div> 
                    </div>
                 
                    
                    <!--
                    <div class="row">
                        <p>
                           
                            <button (mouseup)="amendForm()" type="button" class="btn ml-3">Amend</button>
                           
                            
                        </p>
                    </div>
                -->
                
                
                        
                </div>
             
        
        
            </div>
          
        </div>
        
        